.nav{
    background-color: rgb(9, 5, 29);
    width: 13vw;
    display: flex;  
}

.col-left{
    background-color: aqua;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ponto{
    background-color: slateblue;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    background-color: rgb(240, 212, 54);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    background-color:rgb(244, 248, 31);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noticias{
    background-color: darkcyan;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 415px){
    .nav{
        width: 20vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        z-index: 1000;
    }
    .main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .ponto{
        width: 80vw;
    }
    .calendar{
        width: 80vw;
    }
    .timer{
        width: 80vw;
    }
    .noticias{
        width: 80vw;
    }
}